// Place all the styles related to the dinosaurs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
  width: 100%;
  box-sizing: border-box;
  padding-left: 40px;
  background-color: red;
  background-clip: content-box;
  background-color: red;
}
